<div class="slide-toggle">
  <mat-slide-toggle
    [color]="'primary'"
    [checked]="toggleChecked"
    (change)="toggleChecked = $event.checked"
    [matTooltip]="toggleTooltip"
    [matTooltipPosition]="'right'"
  ></mat-slide-toggle>
</div>
<mat-nav-list>
  <mat-list-item *ngFor="let textControl of textControls">
    <div matLine>{{ textControl.value }}</div>
    <button
      mat-icon-button
      [matTooltip]="'Copy'"
      (click)="copy($event, textControl)"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
