<div class="slide-toggle">
  <mat-slide-toggle
    [color]="'primary'"
    [checked]="toggleChecked"
    (change)="toggleChecked = $event.checked"
    [matTooltip]="toggleTooltip"
    [matTooltipPosition]="'right'"
  ></mat-slide-toggle>
</div>
<ng-container *ngFor="let textControl of textControls; let idx = index">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-subtitle>{{ idx + 1 }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <textarea
        matInput
        [formControl]="textControl"
        class="text"
        rows="2"
      ></textarea>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button color="primary" (click)="copy($event, textControl)">
        Copy
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
